.container {
  margin: 0 auto;
  padding: 0px 20px 24px 20px;
  width: 480px;

  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 0px 30px 40px 30px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding: 0px 20px 40px 20px;
  }
}