.section {
  margin-top: 36px;

  @media screen and (min-width: 768px) {
    margin-top: 100px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 120px;
  }
}

.title {
  width: 264px;
  text-align: center;
  margin: auto;

  font-size: 28px;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    font-size: 36px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 48px;
  }
}

.contactWrapper {
  margin-top: 24px;

  @media screen and (min-width: 768px) {
    margin-top: 40px;
    display: flex;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 120px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 244px;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
  }

  @media screen and (min-width: 1280px) {
    gap: 32px;
    width: 486px;

  }
}

.subTitle {
  margin-bottom: 8px;

  @media screen and (min-width: 1280px) {
    margin-bottom: 16px;
  }
}

.description {
  font-size: 20px;
  display: flex;
  flex-direction: row;

  &:not(:last-child) {
    margin-bottom: 12px;
  }

  &:hover svg path,
  &:focus svg path {
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover svg path,
  &:focus svg path {
    stroke: #97d28b;
  }

  @media screen and (min-width: 1280px) {
    font-size: 24px;
  }
}

.value {
  margin-left: 8px;
}

.icon {
  width: 36px;
  height: 36px;

  @media screen and (min-width: 1280px) {
    width: 24px;
    height: 24px;
  }
}

.iconSocial {
  margin-left: 8px;
}

.socialWrapper {
  display: flex;
}