.footer {
    margin-top: 36px;
}

.logowrapper {
    display: flex;
    margin-top: 24px;
    margin-bottom: 24px;
}


.logoIcon {
    & path:nth-child(3) {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover path:nth-child(3),
    &:focus path:nth-child(3) {
        fill: #97d28b;
    }
}

.upBtn {
    margin-left: auto;

    &>svg>rect {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover>svg>rect,
    &:focus>svg>rect {
        fill: #173d33;
    }

    & svg path,
    & svg path {
        transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover>svg path,
    &:focus>svg path {
        stroke: #97d28b;
    }
}

.socialList {
    justify-content: center;
}

.contactWrapper {
    margin-top: 24px;

    @media screen and (min-width: 768px) {
        margin-top: 16px;
    }

    @media screen and (min-width: 768px) {
        margin-top: 12px;
    }
}

.contact {
    text-align: center;

    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.address {
    @media screen and (min-width: 768px) {
        display: inline-block;
        margin-right: 77px;
    }

    @media screen and (min-width: 1280px) {
        margin-right: 492px;
    }
}

.email {
    margin-top: 16px;
    display: block;

    @media screen and (min-width: 768px) {
        margin-top: 0px
    }
}

.сopy {
    display: block;
    margin-top: 16px;
    text-align: center;

    @media screen and (min-width: 768px) {
        margin-top: 0px;
        margin-left: auto;
    }
}