.footer {
    margin-top: 36px;
}

.logowrapper {
    display: flex;
    margin-top: 24px;
}


.logoIcon {
    & path:nth-child(3) {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover path:nth-child(3),
    &:focus path:nth-child(3) {
        fill: #97d28b;
    }
}

.upBtn {
    margin-left: auto;

    &>svg>rect {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover>svg>rect,
    &:focus>svg>rect {
        fill: #173d33;
    }

    & svg path,
    & svg path {
        transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover>svg path,
    &:focus>svg path {
        stroke: #97d28b;
    }
}

.socialList {
    margin-top: 24px;
    display: flex;
    gap: 8px;
    justify-content: center;

    @media screen and (min-width: 768px) {}

    @media screen and (min-width: 1280px) {}
}

.link {

    & .social path,
    & .social path {
        transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    & .linkFB path:first-child,
    & .linkFB path:first-child {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover .social path,
    &:focus .social path {
        stroke: #97d28b;
    }

    &:hover .linkFB path:first-child,
    &:focus .linkFB path:first-child {
        fill: #97d28b;
        stroke: none;
    }
}