.footer {
    margin-top: 36px;
}

.logowrapper {
    display: flex;
    margin-top: 24px;
}


.logoIcon {
    & path:nth-child(3) {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover path:nth-child(3),
    &:focus path:nth-child(3) {
        fill: #97d28b;
    }
}

.upBtn {
    margin-left: auto;
}

.socialList {
    margin-top: 24px;
    display: flex;
    gap: 8px;
    justify-content: center;

    @media screen and (min-width: 768px) {}

    @media screen and (min-width: 1280px) {}
}

.link {

    &:hover .social path:first-child,
    &:focus .social path:first-child {
        stroke: #97d28b;
        fill: #97d28b;
        // fill: currentColor;
    }
}