.header {
  display: flex;
}

.logoIcon:hover .pathLogoName,
.logoIcon:focus .pathLogoName {
  fill: #97d28b;
}

.MenuButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #dcefd8;

  &:hover,
  &:focus {
    background-color: #97d28b;
  }
}

.ContactButton {
  width: 140px;
  height: 40px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 10px 12px;
  color: #173D33;

  background-color: #97D28B;

  &:hover,
  &:focus {
    background-color: #173D33;
    color: #97D28B;
  }

  &:hover svg circle,
  &:focus svg circle{
    fill: #97D28B;
  }
}

.ContactButtonText {
  margin-right: 12px;
}
