.mainContactWrapper {
  margin-top: 24px;

  @media screen and (min-width: 768px) {
    margin-top: 16px;
  }

  @media screen and (min-width: 768px) {
    margin-top: 12px;
  }
}

.mainContact {
  text-align: center;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.mainAddress {
  @media screen and (min-width: 768px) {
    display: inline-block;
    margin-right: 77px;
  }

  @media screen and (min-width: 1280px) {
    margin-right: 492px;
  }
}

.mainEmail {
  margin-top: 8px;
  display: block;

  @media screen and (min-width: 768px) {
    margin-top: 0px
  }
}

.mainCopy {
  display: block;
  margin-left: auto;
}