.divLineV::before {
    display: block;
    content: '';
    border-right: 1px solid #97d28b;
    height: 100%;
    // margin-bottom: 24px;

    @media screen and (min-width: 768px) {
        // margin-bottom: 16px;
    }

    @media screen and (min-width: 1280px) {
        // margin-bottom: 12px;
    }
}